.edit-u-container-center{
    margin-top: 50px;
    text-align: center;
}
.edit-u-container-center h1{
    margin: 0 0 15px 0;
    font-size: 32px;
}
.edit-u-container-center hr{
    width: 12%;
    border: 1px solid #f15d54;
    margin-bottom: 50px;
}

.edit-u-container-main{
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

    .edit-u-frm-container{
        width:100%;
        padding: 0 10px;
        box-sizing: border-box;
    }

        .edit-u-2in1-0{
            display: flex;
            padding-top: 10px;
        }
            .edit-u-1of2-0{  width: 90%; }
            .edit-u-2of2-0{  width: 90%; }


        .edit-u-2in1-1{
            display: flex;
            padding-top: 40px;
        }
            .edit-u-1of2-1{  width: 90%; }
            .edit-u-2of2-1{  width: 90%; margin: 0 !important;}

        .edit-u-submit-btn{
            margin-top: 60px;
        }
            .edit-custom-save{
                margin: 0 !important;
            }
            .edit-custom-delete{
                margin-top: 0 !important;
            }
            



.edit-u-2in1-x-err{  
    display: flex;
    flex-direction: column;
    width: 100%;
}

.edit-u-err-msg{
    position: absolute;
    color: red;
    padding: 0;
    margin: 3px 0 0 0;
    font-size: small;
}

.edit-u-1of2-1 .css-1869usk-MuiFormControl-root{
    margin: 0;
}